<div class="navigation__mega-menu">
  <div class="mega-menu__inner">
    <div class="mega-menu__section mega-menu__featured-left">
      {% assign left_product = all_products[section.settings.left_product] %}
      <a class="featured-product__link" href="{{left_product.url}}">
        <p class="subtitle">Men's Featured Product</p>
        <img src="{{left_product.featured_image.src | img_url: '225x250', crop: 'center'}}">
        <p class="featured-item__title">{{left_product.title}} - <span class="featured-item__price">{{left_product.price | money}}</span></p>
      </a>
    </div>
    <div class="mega-menu__section mega-menu__collections">
      <p class="mega-menu__title">Collections</p>
      <div class="mega-menu__grid">
      {% for childlink in link.links %}
        <div>
        <p class="mega-menu__heading">{{childlink.title}}</p>
        <ul>
          {% for sublink in childlink.links %}
            <li class="mega-menu__item">
              <a href="{{sublink.url}}">{{sublink.title}}</a>
            </li>
          {% endfor %}
        </ul>
        </div>
      {% endfor %}
      </div>
    </div>
    <div class="mega-menu__section mega-menu__products">
      <p class="mega-menu__title">Products</p>
      <ul>
        {% for product in collections[section.settings.featured_products].products limit: 10 %}
          <li class="mega-menu__item"><a href="{{product.url}}">{{product.title}}</a></li>          
        {% endfor %}
      </ul>
    </div>
    <div class="mega-menu__section mega-menu__featured-right">
      {% assign right_product = all_products[section.settings.right_product] %}
      <a class="featured-product__link" href="{{right_product.url}}">
        <p class="subtitle">Womens's Featured Product</p>
        <img src="{{right_product.featured_image.src | img_url: '225x250', crop: 'center'}}">
        <p class="featured-item__title">{{right_product.title}} - <span class="featured-item__price">{{right_product.price | money}}</span></p>
      </a>
    </div>
  </div>
</div>
<div class="header__overlay desktop-only"></div>