<style>
  .carousel-caption h1{
    color: {{section.settings.heading_color}};
  }
  .carousel-caption p {
    color: {{section.settings.caption_color}};
    font-size: 22px;
  }
  .carousel-caption {
    bottom: {{section.settings.carousel_position}}%;
  }
</style>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" src="{{section.settings.slide-1 | img_url: '1920x'}}">
        <div class="mask rgba-blue-grey-slight"></div>
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h1>{{section.settings.slide-1-header}}</h1>
        <p>{{section.settings.slide-1-caption}}</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="view">
        <img class="d-block w-100" src="{{section.settings.slide-2 | img_url: '1920x'}}">
        <div class="mask rgba-blue-grey-slight"></div>
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h1>{{section.settings.slide-2-header}}</h1>
        <p>{{section.settings.slide-2-caption}}</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{% schema %}
  {
    "name": "Homepage Carousel",
    "settings": [
      {
        "type": "range",
        "id": "carousel_position",
        "min": 0,
        "max": 86,
        "step": 1,
        "unit": "%",
        "label": "Vertical Position",
        "default": 50
      },
      {
        "type": "color",
        "id": "heading_color",
        "label": "Heading Color",
        "default": "#ccc"
      },
      {
        "type": "color",
        "id": "caption_color",
        "label": "Caption Color",
        "default": "#ccc"
      },
      {
        "type": "text",
        "id": "slide-1-header",
        "label": "Slide 1 Header"
      },
      {
        "type": "text",
        "id": "slide-1-caption",
        "label": "Slide 1 Caption"
      },
      {
        "type": "image_picker",
        "id": "slide-1",
        "label": "Slide 1"
      },
      {
        "type": "text",
        "id": "slide-2-header",
        "label": "Slide 1 Header"
      },
      {
        "type": "text",
        "id": "slide-2-caption",
        "label": "Slide 1 Caption"
      },
      {
        "type": "image_picker",
        "id": "slide-2",
        "label": "Slide 2"
      }
    ]
  }
{% endschema %}