{% assign short_description = product.description | split: "Product Description" | first %}
{% assign product_description = product.description | split: "Product Description" | last | split: "Specifications" | first %}
{% assign specifications = product.description | split: "Specifications" | last %}


<script>
  window.product = {{product | json}} || {};
</script>

<section class="single-product">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">{{product.title}}</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row pb-5">
      <div class="col-md-5">
        <div class="single-product-images">
        {% comment %} TODO not working quite correctly {% endcomment %}
          {% for image in product.images %}
            {% comment %} <p>{{image.src}}</p> {% endcomment %}
            <div data-thumb="{{ image.src | img_url: '1920x'}}">
              <img class="img-fluid" src="{{ image.src | img_url: '1920x'}}">
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-md-7">
        <div class="single-product-details">
          <h2>{{product.title}}</h2>
          <p class="product-price">{{product.price | money}}</p>
          
          <p class="product-description">
            {{short_description}}
          </p>
        
          <form method="post" action="/cart/add" data-product-form id="add-to-cart">              
            {% unless product.has_only_default_variant %}
              {% for product_option in product.options_with_values %}
                <div class="product-category">
                  <span>{{product_option.name}}</span>
                  <select class="form-control" data-index="option{{forloop.index}}">
                    {% for value in product_option.values %}
                      <option value="{{value | escape}}" 
                      {% if product_option.selected_value == value %} selected="selected" {% endif %}>{{value}}</option>
                    {% endfor %}
                  </select>
                </div>
              {% endfor %}  
            {% endunless %}  
            <div class="product-quantity">
              <span>Quantity:</span>
              <input min="1" type="number" id="quantity" name="quantity" value="1" />
            </div>
            <div class="product-category">
              <span>Categories:</span>
              <ul>
                {% for collection in product.collections %}
                  <li><a href="{{collection.url}}">{{collection.title}}</a></li>
                {% endfor %}
              </ul>
            </div>
            <input type="hidden" id="variant-id" name="id" value={{product.variants.first.id}}>
           <input type="submit" name="add" data-submit-button data-product-atc-button value="Add to Cart" class="btn btn-main">
          </form>

          {% comment %} {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
            {% unless product.has_only_default_variant %}
              {% for option in product.options_with_values %}
                <div class="js">

                  {% if forloop.index0 > 0 %}

                    {% for value in option.values %}
                      <input type="radio" id="Option{{ option.position }}-{{ value }}" name="options[{{ option.name }}]" value="{{ value }}"{% if option.selected_value == value %} checked{% endif %}>
                      <label for="Option{{ option.position }}-{{ value }}">{{ value }}</label>
                    {% endfor %}

                  {% else %}

                    <label for="Option{{ option.position }}">
                      {{ option.name }}
                    </label>

                    <select
                      id="Option{{ option.position }}"
                      name="options[{{ option.name | escape }}]">
                      {% for value in option.values %}
                        <option
                          value="{{ value | escape }}"
                          {% if option.selected_value == value %}selected="selected"{% endif %}>
                            {{ value }}
                        </option>
                      {% endfor %}
                    </select>

                  {% endif %}
                </div>
              {% endfor %}
            {% endunless %}

            <noscript>
              <select name="id">
                {% for variant in product.variants %}
                  <option
                    {% if variant == current_variant %}selected="selected"{% endif %}
                    value="{{ variant.id }}">
                      {{ variant.title }}
                  </option>
                {% endfor %}
              </select>
            </noscript>

            <label for="Quantity">Quantity</label>
            <input type="number" id="Quantity" name="quantity" value="1" min="1">

            <div data-price-wrapper>
              <span data-product-price>
                {{ current_variant.price | money }}
              </span>

              {% if product.compare_at_price_max > product.price %}
                <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                <s data-compare-price>
                  {% if current_variant.compare_at_price > current_variant.price %}
                    {{ current_variant.compare_at_price | money }}
                  {% endif %}
                </s>
              {% endif %}
            </div>

            <button
              type="submit"
              name="add"
              data-submit-button>
                <span data-submit-button-text>
                  Add to Cart
                </span>
            </button>
          {% endform %} 
          {% endcomment %}

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Specifications</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <p>{{product_description}}</p>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            {{specifications}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>